<div class="products-list ">
            <div class="item  " style="  ">
                <a href="#" class="product-image">
                    <img style="" class="em-alt-hover img-responsive em-lazy-loaded" src="~/images/product/110x110/@ViewBag.spbanchay.ProductImg" alt="" height="110" width="110">
                    <img class="img-responsive em-alt-org em-lazy-loaded" src="~/images/product/110x110/@ViewBag.spbanchay.ProductImg" alt="" height="110" width="110">
                </a>
                <div class="product-shop">
                    <div class="f-fix">
                        <!--product name-->

                        <!--product description-->
                        
                        <!--product reviews-->
                        <div class="ratings">
                            <span class="tg-stars"><span style="width:100%"></span></span>
                        </div>

                        <!--product price-->
                        <div class="price-box">

                            <p class="old-price">
                                <span class="price-label"></span>
                                <span class="price">@ViewBag.spbanchay.GiaBia</span>
                            </p>

                            <p class="special-price">
                                <span class="price-label"></span>
                                <span class="price" content="75">@ViewBag.spbanchay.GiaBan</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- /.item -->
            a++;
        }
    }

</div><!-- /.products-list -->