
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}
<section id="content-holder" class="container-fluid container">
    <section class="row-fluid">
        <div class="heading-bar">
            <div></div>
            <span class="h-line"></span>
        </div>

        <section class="span12 first">

            <div class="blog-sec-slider">
                <div class="slider7">
                    <div class="slide"><a href="#"><img src="~/images/image22.jpg" alt="" /></a></div>

                </div>
            </div>


            <div class="product_sort">
                <div class="row-1">
                    <div class="left">
                        <span class="s-title">Sort by</span>
                        <span class="list-nav">
                            <select name="">
                                <option>Position</option>
                                <option>Position 2</option>
                                <option>Position 3</option>
                                <option>Position 4</option>
                            </select>
                        </span>
                    </div>
                    <div class="right">
                        <div class="row-2">

                            <ul class="product_view">

                                <li style=" list-style:decimal">
                                    <a class="grid-view " href=""></a>
                                </li>
                                <li style=" list-style:none">
                                    <a class="list-view" href="@Url.Action("ListProduct","Products")"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <section class="grid-holder features-books" style="">
                <figure class="span3 slide">
                    <a href="book-detail.html"><img src="~/images/image25.jpg" alt="" class="pro-img" /></a>
                    <div class="tg-postbookcontent">
                        <div class="tg-themetagbox"><span class="tg-themetag">sale</span></div>
                        <div class="tg-booktitle">
                            <h3><a href="javascript:void(0);">Let The Good Cuộc hành trình</a></h3>
                        </div>
                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Angela Gunning</a></span>
                        <span class="tg-stars"><span></span></span>
                        <span class="tg-bookprice">
                            <ins style="font-size:15px">999.999đ</ins>
                            <del style="font-size:12px">999.999đ</del>
                        </span>
                        <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                            <i class="fa fa-shopping-basket"></i>
                            <span>Mua Ngay</span>
                        </a>

                    </div>
                </figure>
                <figure class="span3 slide">
                    <a href="book-detail.html"><img src="~/images/image25.jpg" alt="" class="pro-img" /></a>
                    <div class="tg-postbookcontent">
                        <div class="tg-themetagbox"><span class="tg-themetag">sale</span></div>
                        <div class="tg-booktitle">
                            <h3><a href="javascript:void(0);">Let The Good Cuộc hành trình</a></h3>
                        </div>
                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Angela Gunning</a></span>
                        <span class="tg-stars"><span></span></span>
                        <span class="tg-bookprice">
                            <ins style="font-size:15px">999.999đ</ins>
                            <del style="font-size:12px">999.999đ</del>
                        </span>
                        <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                            <i class="fa fa-shopping-basket"></i>
                            <span>Mua Ngay</span>
                        </a>

                    </div>
                </figure>
                <figure class="span3 slide">
                    <a href="book-detail.html"><img src="~/images/image25.jpg" alt="" class="pro-img" /></a>
                    <div class="tg-postbookcontent">
                        <div class="tg-themetagbox"><span class="tg-themetag">sale</span></div>
                        <div class="tg-booktitle">
                            <h3><a href="javascript:void(0);">Let The Good Cuộc hành trình</a></h3>
                        </div>
                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Angela Gunning</a></span>
                        <span class="tg-stars"><span></span></span>
                        <span class="tg-bookprice">
                            <ins style="font-size:15px">999.999đ</ins>
                            <del style="font-size:12px">999.999đ</del>
                        </span>
                        <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                            <i class="fa fa-shopping-basket"></i>
                            <span>Mua Ngay</span>
                        </a>

                    </div>
                </figure>
                <figure class="span3 slide">
                    <a href="book-detail.html"><img src="~/images/image25.jpg" alt="" class="pro-img" /></a>
                    <div class="tg-postbookcontent">
                        <div class="tg-themetagbox"><span class="tg-themetag">sale</span></div>
                        <div class="tg-booktitle">
                            <h3><a href="javascript:void(0);">Let The Good Cuộc hành trình</a></h3>
                        </div>
                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Angela Gunning</a></span>
                        <span class="tg-stars"><span></span></span>
                        <span class="tg-bookprice">
                            <ins style="font-size:15px">999.999đ</ins>
                            <del style="font-size:12px">999.999đ</del>
                        </span>
                        <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                            <i class="fa fa-shopping-basket"></i>
                            <span>Mua Ngay</span>
                        </a>

                    </div>
                </figure>

                <figure class="span3 slide first">
                    <a href="book-detail.html"><img src="~/images/image25.jpg" alt="" class="pro-img" /></a>
                    <div class="tg-postbookcontent">
                        <div class="tg-themetagbox"><span class="tg-themetag">sale</span></div>
                        <div class="tg-booktitle">
                            <h3><a href="javascript:void(0);">Let The Good Cuộc hành trình</a></h3>
                        </div>
                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Angela Gunning</a></span>
                        <span class="tg-stars"><span></span></span>
                        <span class="tg-bookprice">
                            <ins style="font-size:15px">999.999đ</ins>
                            <del style="font-size:12px">999.999đ</del>
                        </span>
                        <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                            <i class="fa fa-shopping-basket"></i>
                            <span>Mua Ngay</span>
                        </a>

                    </div>
                </figure>
                <figure class="span3 slide">
                    <a href="book-detail.html"><img src="~/images/image25.jpg" alt="" class="pro-img" /></a>
                    <div class="tg-postbookcontent">
                        <div class="tg-themetagbox"><span class="tg-themetag">sale</span></div>
                        <div class="tg-booktitle">
                            <h3><a href="javascript:void(0);">Let The Good Cuộc hành trình</a></h3>
                        </div>
                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Angela Gunning</a></span>
                        <span class="tg-stars"><span></span></span>
                        <span class="tg-bookprice">
                            <ins style="font-size:15px">999.999đ</ins>
                            <del style="font-size:12px">999.999đ</del>
                        </span>
                        <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                            <i class="fa fa-shopping-basket"></i>
                            <span>Mua Ngay</span>
                        </a>

                    </div>
                </figure>
                <figure class="span3 slide">
                    <a href="book-detail.html"><img src="~/images/image25.jpg" alt="" class="pro-img" /></a>
                    <div class="tg-postbookcontent">
                        <div class="tg-themetagbox"><span class="tg-themetag">sale</span></div>
                        <div class="tg-booktitle">
                            <h3><a href="javascript:void(0);">Let The Good Cuộc hành trình</a></h3>
                        </div>
                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Angela Gunning</a></span>
                        <span class="tg-stars"><span></span></span>
                        <span class="tg-bookprice">
                            <ins style="font-size:15px">999.999đ</ins>
                            <del style="font-size:12px">999.999đ</del>
                        </span>
                        <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                            <i class="fa fa-shopping-basket"></i>
                            <span>Mua Ngay</span>
                        </a>

                    </div>
                </figure>
                <figure class="span3 slide">
                    <a href="book-detail.html"><img src="~/images/image25.jpg" alt="" class="pro-img" /></a>
                    <div class="tg-postbookcontent">
                        <div class="tg-themetagbox"><span class="tg-themetag">sale</span></div>
                        <div class="tg-booktitle">
                            <h3><a href="javascript:void(0);">Let The Good Cuộc hành trình</a></h3>
                        </div>
                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Angela Gunning</a></span>
                        <span class="tg-stars"><span></span></span>
                        <span class="tg-bookprice">
                            <ins style="font-size:15px">999.999đ</ins>
                            <del style="font-size:12px">999.999đ</del>
                        </span>
                        <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                            <i class="fa fa-shopping-basket"></i>
                            <span>Mua Ngay</span>
                        </a>

                    </div>
                </figure>
                <figure class="span3 slide first">
                    <a href="book-detail.html"><img src="~/images/image25.jpg" alt="" class="pro-img" /></a>
                    <div class="tg-postbookcontent">
                        <div class="tg-themetagbox"><span class="tg-themetag">sale</span></div>
                        <div class="tg-booktitle">
                            <h3><a href="javascript:void(0);">Let The Good Cuộc hành trình</a></h3>
                        </div>
                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Angela Gunning</a></span>
                        <span class="tg-stars"><span></span></span>
                        <span class="tg-bookprice">
                            <ins style="font-size:15px">999.999đ</ins>
                            <del style="font-size:12px">999.999đ</del>
                        </span>
                        <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                            <i class="fa fa-shopping-basket"></i>
                            <span>Mua Ngay</span>
                        </a>

                    </div>
                </figure>
                <figure class="span3 slide">
                    <a href="book-detail.html"><img src="~/images/image25.jpg" alt="" class="pro-img" /></a>
                    <div class="tg-postbookcontent">
                        <div class="tg-themetagbox"><span class="tg-themetag">sale</span></div>
                        <div class="tg-booktitle">
                            <h3><a href="javascript:void(0);">Let The Good Cuộc hành trình</a></h3>
                        </div>
                        <span class="tg-bookwriter">By: <a href="javascript:void(0);">Angela Gunning</a></span>
                        <span class="tg-stars"><span></span></span>
                        <span class="tg-bookprice">
                            <ins style="font-size:15px">999.999đ</ins>
                            <del style="font-size:12px">999.999đ</del>
                        </span>
                        <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                            <i class="fa fa-shopping-basket"></i>
                            <span>Mua Ngay</span>
                        </a>

                    </div>
                </figure>


            </section>

        </section>
        <div class="blog-footer">
            <div class="pagination">
                <ul>
                    <li><a href="#">Prev</a></li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>

        </div>

    </section>
</section>
