
@{
    ViewData["Title"] = "ListProduct";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

<section id="content-holder" class="container-fluid container">
    <section class="row-fluid">
        
        <section class="span12 first">

            <div class="blog-sec-slider">
                <div class="slider5">
                    <div class="slide"><a href="#"><img src="~/images/image22.jpg" alt="" /></a></div>

                </div>
            </div>


            <div class="product_sort">
                <div class="row-1">
                    <div class="left">
                        <span class="s-title">Sort by</span>
                        <span class="list-nav">
                            <select name="">
                                <option>Position</option>
                                <option>Position 2</option>
                                <option>Position 3</option>
                                <option>Position 4</option>
                            </select>
                        </span>
                    </div>
                    <div class="right">

                        <ul class="product_view">

                            <li style=" list-style:decimal">
                                <a class="grid-view " href=""></a>
                            </li>
                            <li style=" list-style:none">
                                <a class="list-view" href="@Url.Action("ListProduct","Products")"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row-2">
                  
                </div>
            </div>
            <section class="list-holder">
                <article class="item-holder">
                    <div class="span2">
                        <a href="book-detail.html"><img src="~/images/co-hai-con-meo-ngoi-ben-cua-so_NNA.jpg" alt="Image07" /></a>
                    </div>
                    <div class="span10">
                        <div class="tg-postbookcontent">
                            <div class="tg-booktitle">
                                <h3><a href="@Url.Action("ProductDetail","Detail")">Cuộc hành trình tết thanh minh</a><span>...</span></h3>
                            </div>
                            <span class="tg-stars"><span></span></span>
                            <span class="tg-bookprice">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sapien est, ultricies nec ornare non, sagittis in erat. Quisque ut vulputate massa. Proin pretium, quam sed posuere sodales erat nisl nec velit. </span>
                            <div class="tg-themetagbox"><span class="tg-themetag">Hot sale</span></div>
                            <span class="tg-bookprice">
                                <ins style="font-size:15px">999.999đ</ins>
                                <del style="font-size:12px">999.999đ</del>
                            </span>

                            <a class="tg-btn  " href="@Url.Action("Cart","Cart")">
                                <i class="fa fa-shopping-basket"></i>
                                <span>Mua Ngay</span>
                            </a>
                        </div>
                    </div>
                </article>
               
            </section>
            <div class="blog-footer">
                <div class="pagination">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>

            </div>

        </section>

    </section>
</section>


