<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Book Market</title>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width">
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bs.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/css/main-slider.css" />
    <link href="~/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/css/font-awesome-ie7.css" rel="stylesheet" type="text/css" />
    <link href="~/css/jquery.booklet.latest.css" type="text/css" rel="stylesheet" media="screen, projection, tv" />
    <noscript><link rel="stylesheet" type="text/css" href="~/css/noJS.css" /></noscript>
    <link href="~/css/switcher.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" name="skins" href="~/css/default.css" type="text/css" media="all">
</head>
<body>



   @Html.Partial("Header")
   @RenderBody()
    @Html.Partial("Footer")

    <script type="text/javascript" src="js/lib.js"></script>
    <script type="text/javascript" src="js/modernizr.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript" src="js/bs.js"></script>
    <script type="text/javascript" src="js/bxslider.js"></script>
    <script type="text/javascript" src="js/input-clear.js"></script>
    <script type="text/javascript" src="js/range-slider.js"></script>
    <script type="text/javascript" src="js/jquery.zoom.js"></script>
    <script type="text/javascript" src="js/bookblock.js"></script>
    <script type="text/javascript" src="js/social.js"></script>
    <script type="text/javascript" src="js/jquery.booklet.latest.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#mybook").booklet({
                width: '100%',
                height: 430,
                auto: true,
                //speed: 250,
            });
        });</script>

    <noscript>
        <style>
            #socialicons > a span {
                top: 0px;
                left: -100%;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }

            #socialicons > ahover div {
                left: 0px;
            }
        </style>
    </noscript>
    <script type="text/javascript">
        /* <![CDATA[ */
        $(document).ready(function () {
            $('.social_active').hoverdir({});
        })
/* ]]> */</script>
    <script type="text/javascript" src="js/cookie.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    /**/


</body>

</html>