@using Microsoft.AspNetCore.Identity
@using BookMarket.Models;

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from htmlcooker.com/tvlgiao/everything/assets/everything/fashion/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 19 Oct 2015 02:40:03 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Book Market</title>
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="HTMLCooker">

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- ================= Google Fonts ================== -->
    <link href='http://fonts.googleapis.com/css?family=Lato:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Lora:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext' rel='stylesheet' type='text/css' />

    <!-- Cloud Zoom CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="~/css/em_cloudzoom.css" media="all" /> -->
    <!-- Menu CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/menu.css" media="all" />
    <!-- Mega Menu CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/megamenu.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" media="all" />

    <!-- Widget CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="~/css/widgets.css" media="all" /> -->
    <!-- Default CSS -->
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css" media="all" />
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css" media="all" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css" media="all" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" media="all" />

    <!-- Ajax Cart CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="~/css/em_ajaxcart.css" media="all" /> -->
    <!-- Blog Style CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="~/css/blog-styles.css" media="all" /> -->
    <!-- Multi Deal Pro CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="~/css/em_multidealpro.css" media="all" /> -->
    <!-- Product Labels CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/em_productlabels.css" media="all" />

    <!-- Quick Shop CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="~/css/em_quickshop.css" media="all" /> -->
    <!-- Fancybox CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/jquery.fancybox.css" media="all" />

    <!-- Responsive Tab CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/responsive-tabs.css" media="all" />
    <!-- Print CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/print.css" media="print" />
    <!-- Fashion CSS -->
    <link rel='stylesheet' type='text/css' media='all' href='~/css_fashion.css' />
    <!-- Fashion CSS -->
    <link rel='stylesheet' type='text/css' media='all' href='~/css/color1.css' />


    <!-- Jquery Js -->
    <script type="text/javascript" src="~/js/jquery-1.11.3.min.js"></script>
    <!-- Bootstrap Js -->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!-- Lazy Load Js -->
    <script type="text/javascript" src="~/js/jquery.lazyload.min.js"></script>
    <!-- Owl Carousel Js -->
    <script type="text/javascript" src="~/js/owl.carousel.js"></script>
    <!-- Ios Orientation Change Js -->
    <script type="text/javascript" src="~/js/ios-orientationchange-fix.js"></script>
    <!-- Hover Intent Js -->
    <script type="text/javascript" src="~/js/jquery.hoverIntent.js"></script>
    <!-- Select UI Js -->
    <script type="text/javascript" src="~/js/selectUl.js"></script>
    <!-- Throttle Js -->
    <script type="text/javascript" src="~/js/jquery.ba-throttle-debounce.js"></script>
    <!-- EM Js -->
    <script type="text/javascript" src="~/js/em0131.js"></script>
    <!-- MegaMenu Js -->
    <script type="text/javascript" src="~/js/megamenu.js"></script>
    <!-- Responsive Tab Js -->
    <script type="text/javascript" src="~/js/jquery.custom.responsiveTabs.js"></script>
    <!-- Fancybox Js -->
    <script type="text/javascript" src="~/js/jquery.fancybox.js"></script>
    <!-- Custom Js -->
    <script type="text/javascript" src="~/js/custom.js"></script>


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="cms-index-index">

    <div class="wrapper ">

        <div class="page two-columns-left">

            <div class="em-wrapper-header">
                <div id="em-mheader" class="visible-xs container">
                    <div id="em-mheader-top" class="row">
                        <div id="em-mheader-logo" class="col-xs-4">
                            <div class="em-logo">
                                <a href="index.html" title="Fashion Commerce" class="logo"><strong></strong><img src="~/images/logo_small.png" alt="Fashion Commerce" /></a>
                            </div>
                        </div><!-- /#em-mheader-logo -->

                    </div><!-- /#em-mheader-top -->
                </div><!-- /#em-mheader -->
                <div class="hidden-xs em-header-style08">
                    <div class="em-header-top">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-24">
                                    <div class="f-left">

                                    </div><!-- /.f-left -->
                                    <div class="">
                                        <div class="em-search f-right">
                                            <div class="em-top-search">
                                                <div class="em-wrapper-js-search em-search-style01">
                                                    <div class="em-wrapper-search em-no-category-search">
                                                        <a class="em-search-icon" title="Search" href="javascript:void(0);"><span>Search</span></a>
                                                        <div class="em-container-js-search" style="display: none;">
                                                            <form id="search_mini_form" method="get">
                                                                <div class="form-search no_cate_search">
                                                                    <div class="text-search">
                                                                        <label for="search"></label>
                                                                        <input id="search" type="text" name="q" value="" class="input-text" maxlength="128" placeholder="Tìm kiếm..." />
                                                                        <button type="submit" title="Search" class="button">
                                                                            <span><span class="fa fa-search"></span></span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form><!-- /#search_mini_form -->
                                                        </div>
                                                    </div>
                                                </div><!-- /.em-wrapper-js-search -->
                                            </div>
                                        </div><!-- /.em-search -->
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            <div class="em-top-links">
                                                <div class="f-right"></div>
                                                <ul class="list-inline f-right">
                                                    <li><a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" class="em-register-link"  title="Register">@UserManager.GetUserName(User)!</a></li>
                                                </ul>
                                                <div id="em-login-link" class="account-link f-right em-non-login">
                                                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Đăng xuất</button>
                                                    </form>
                                                </div><!-- /#em-login-link -->
                                            </div><!-- /.em-top-links -->
                                        }
                                        else
                                        {
                                            <div class="em-top-links">
                                                <div class="f-right"></div>
                                                <ul class="list-inline f-right">
                                                    <li><a id="register" asp-area="Identity" asp-page="/Account/Register" class="em-register-link" title="Register">Đăng Kí</a></li>
                                                </ul>
                                                <div id="em-login-link" class="account-link f-right em-non-login">
                                                    <a id="login" asp-area="Identity" asp-page="/Account/Login" class="link-account" title="Login">Đăng Nhập</a>

                                                </div><!-- /#em-login-link -->
                                            </div><!-- /.em-top-links -->
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.em-header-top -->
                    <div id="em-fixed-top"></div>
                    <div class="em-header-bottom em-fixed-top">
                        <div class="container em-menu-fix-pos">
                            <div class="row">
                                <div class="col-sm-24">
                                    <div class="em-logo f-left">
                                        <a href="index.html" title="Fashion Commerce" class="logo"><strong>Book Market</strong><img class="retina-img" src="~/images/logo.png" alt="Fashion Commerce" /></a>
                                    </div>

                                    <div class="em-search em-search-sticky f-right">
                                        <div class="em-top-search">
                                            <div class="em-wrapper-js-search em-search-style01">
                                                <div class="em-wrapper-search">
                                                    <a class="em-search-icon" title="Search" href="javascript:void(0);"><span>Search</span></a>
                                                    <div class="em-container-js-search" style="display: none;">
                                                        <form id="search_mini_form_fixed_top" method="get">
                                                            <div class="form-search">
                                                                <label for="search">Search</label>
                                                                <input id="search-fixed-top" type="text" name="q" value="" class="input-text" maxlength="128" placeholder="Tìm kiếm..." />
                                                                <button type="submit" title="Search" class="button">
                                                                    <span><span>Search</span></span>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div><!-- /.em-wrapper-js-search -->
                                        </div>
                                    </div><!-- /.em-search -->
                                    <div class="em-top-cart-sticky em-top-cart f-right">
                                        <div class="em-wrapper-js-topcart em-wrapper-topcart em-no-quickshop">
                                            <div class="em-container-topcart">
                                                <div class="em-summary-topcart">
                                                    <a href="@Url.Action("Cart","Detail","")" class="em-amount-js-topcart em-amount-topcart" title="Giỏ hàng">  <span class="em-topcart-qty">@await Html.PartialAsync("_CartPartial")</span> </a>
                                                </div>

                                            </div>
                                        </div><!-- /.em-wrapper-js-topcart -->
                                    </div><!-- /.em-top-cart -->
                                    <div class="em-menu-hoz f-right">
                                        <div id="em-main-megamenu">
                                            <div class="em-menu">
                                                <div class="megamenu-wrapper wrapper-4_7164">
                                                    <div class="em_nav" id="toogle_menu_4_7164">
                                                        <ul class="hnav em_hoz_menu effect-menu">
                                                            <li class="menu-item-link menu-item-depth-0  menu-item-parent">
                                                                <a class="em-menu-link"></a>

                                                            </li><!-- /.menu-item-link -->
                                                        </ul><!-- /.hnav em_hoz_menu -->
                                                    </div><!-- /.em_nav -->
                                                </div><!-- /.megamenu-wrapper -->
                                            </div><!-- /.em-menu -->
                                        </div><!-- /#em-main-megamenu -->
                                    </div><!-- /.em-menu-hoz -->

                                </div>
                            </div>
                        </div><!-- /.container -->
                    </div><!-- /.em-header-bottom -->
                </div>
            </div><!-- /.em-wrapper-header -->


            @RenderBody()
            <div class="em-wrapper-footer">
                <div class="em-footer-style09">
                    <div class="em-footer-top">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-24">
                                    <div class="em-footer-info">
                                        <div class="row">
                                            <div class="col-sm-4 first text-center">
                                                <div class="em-block-title" data-collapse-target="#collapse01">
                                                    <p class="h4 em-text-upercase">
                                                        <span>Về chúng tôi</span>
                                                    </p>
                                                </div>
                                                <ul id="collapse01" class="em-links em-block-content block-info">
                                                    <li class="em-links-item">
                                                        <a title="em-sample-title" href="#"><span>Giới thiệu</span></a>
                                                    </li>
                                                    <li class="em-links-item">
                                                        <a title="em-sample-title" href="#"><span>Tuyển dụng</span></a>
                                                    </li>
                                                    <li class="em-links-item">
                                                        <a title="em-sample-title" href="#"><span>Góc báo chí</span></a>
                                                    </li>
                                                    <li class="em-links-item">
                                                        <a title="em-sample-title" href="#"><span>Chính sách bảo mật</span></a>
                                                    </li>
                                                </ul>
                                            </div><!-- /.col-sm-4 -->
                                            <div class="col-sm-4 text-center">
                                                <div class="em-block-title" data-collapse-target="#collapse02">
                                                    <p class="h4 em-text-upercase">
                                                        <span>Trợ giúp</span>
                                                    </p>
                                                </div>
                                                <ul id="collapse02" class="em-links em-block-content block-info">
                                                    <li class="em-links-item">
                                                        <a title="em-sample-title" href="#"><span>Quy định sử dụng</span></a>
                                                    </li>
                                                    <li class="em-links-item">
                                                        <a title="em-sample-title" href="#"><span>Hướng dẫn mua hàng</span></a>
                                                    </li>
                                                    <li class="em-links-item">
                                                        <a title="em-sample-title" href="#"><span>Câu hỏi thường gặp</span></a>
                                                    </li>
                                                    <li class="em-links-item">
                                                        <a title="em-sample-title" href="#"><span>Bọc sách</span></a>
                                                    </li>
                                                </ul>
                                            </div><!-- /.col-sm-4 -->
                                            <div class="col-sm-4 text-center">
                                                <div class="em-block-title" data-collapse-target="#collapse03">
                                                    <p class="h4 em-text-upercase">
                                                        <span>Tin tức</span>
                                                    </p>
                                                </div>
                                                <ul id="collapse03" class="em-links em-block-content block-info">
                                                    <li class="em-links-item">
                                                        <a title="em-sample-title" href="#"><span>Chân dung</span></a>
                                                    </li>
                                                    <li class="em-links-item">
                                                        <a title="em-sample-title" href="#"><span>Điểm sách</span></a>
                                                    </li>
                                                    <li class="em-links-item">
                                                        <a title="em-sample-title" href="#"><span>Phê bình </span></a>
                                                    </li>
                                                    <li class="em-links-item">
                                                        <a title="em-sample-title" href="#"><span></span></a>
                                                    </li>
                                                </ul>
                                            </div><!-- /.col-sm-4 -->



                                        </div><!-- /.row -->
                                        <div class="em-footer-info-bottom">
                                            <div class="row">
                                                <div class="col-sm-15 first">
                                                    <div class="em-wrapper-newsletter">
                                                        <div class="em-block-title" data-collapse-target="#collapse07">
                                                            <p class="h4 em-text-upercase">
                                                                <span>Đăng kí để nhận thông tin</span>
                                                            </p>
                                                        </div>
                                                        <div id="collapse07" class="em-block-content em-newsletter">
                                                            <div class="em-newsletter-style05">
                                                                <div class="block block-subscribe">
                                                                    <form method="post" id="em-newsletter-validate-detail-style03">
                                                                        <div class="block-content">
                                                                            <div class="form-subscribe-content">
                                                                                <div class="input-box">
                                                                                    <input type="text" name="email" id="em-newsletter-style03" title="Nhập email của bạn" class="input-text required-entry validate-email" placeholder="Nhập email của bạn" />
                                                                                </div>
                                                                                <div class="actions">
                                                                                    <button type="submit" title="Subscribe" class="button">
                                                                                        <span><span>Đăng Kí</span></span>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div><!-- /#collapse07 -->
                                                    </div>
                                                </div>
                                                <div class="col-sm-9 last">
                                                    <div class="em-wrapper-social f-right">
                                                        <div class="em-block-title" data-collapse-target="#collapse08">
                                                            <p class="h4 em-text-upercase">
                                                                <span></span>
                                                            </p>
                                                        </div>
                                                        <div id="collapse08" class="em-block-content">
                                                            <p class="em-social">
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <a class="em-social-icon em-facebook f-left" title="em-sample-title" href="#"><span class="fa fa-fw"></span></a> <a class="em-social-icon em-twitter f-left" title="em-sample-title" href="#"><span class="fa fa-fw"></span></a> <a class="em-social-icon em-pinterest  f-left" title="em-sample-title" href="#"><span class="fa fa-fw"></span></a> <a class="em-social-icon em-google f-left" title="em-sample-title" href="#"><span class="fa fa-fw"></span></a> <a class="em-social-icon em-rss  f-left" title="em-sample-title" href="#"><span class="fa fa-fw"></span></a>
                                                </div>
                                            </div>
                                        </div><!-- /.em-footer-info-bottom -->
                                    </div><!-- /.em-footer-info -->
                                </div>
                            </div>
                        </div>
                    </div><!-- /.em-footer-top -->
                    <div class="em-footer-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-24">
                                    <div class="em-area-footer02">
                                        <div class="em-payment f-right">
                                            <a class="em-payment-icon em-visa" title="em-sample-title" href="#">visa</a> <a class="em-payment-icon em-master" title="em-sample-title" href="#">master</a> <a class="em-payment-icon em-express " title="em-sample-title" href="#">express</a><a class="em-payment-icon em-paypal" title="em-sample-title" href="#">paypal</a> <a class="em-payment-icon em-other " title="em-sample-title" href="#">other</a>
                                        </div>
                                    </div>
                                    <div class="em-footer-address">
                                        <address class="f-left">Đồ án tốt nghiệp --  <span>Nguyễn Duy Quang -- <a href="#">0366775698</a></span></address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.em-footer-bottom -->
                </div><!-- /.em-footer-style09 -->
            </div><!-- /.em-wrapper-footer -->

            <p id="back-top" style="display: none;"><a title="Top" href="#top">Top</a></p>

        </div><!-- /.page -->
    </div><!-- /.wrapper -->

</body>

</html>