<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- Tieu Long Lanh Kute -->
<head>
<title>Book Detail</title>
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="viewport" content="width=device-width">
 
<link href="css/style.css" rel="stylesheet" type="text/css"/> 
<link href="css/bs.css" rel="stylesheet" type="text/css"/> 
<link rel="stylesheet" type="text/css" href="css/main-slider.css"/> 
<!--[if lte IE 10]><link rel="stylesheet" type="text/css" href="css/customIE.css" /><![endif]-->
<link href="css/font-awesome.css" rel="stylesheet" type="text/css"/> 
<link href="css/font-awesome-ie7.css" rel="stylesheet" type="text/css"/> 
<noscript>
<link rel="stylesheet" type="text/css" href="css/noJS.css"/>
</noscript>
 
<style>.zoom{display:inline-block;position:relative;}.zoom:after{content:'';display:block;width:33px;height:33px;position:absolute;top:0;right:0;background:url(icon.html);}.zoom img{display:block;}.zoom img::selection{background-color:transparent;}#ex2 img:hover{cursor:url(grab.html),default;}#ex2 img:active{cursor:url(grabbed.html),default;}</style>
 
<link href="css/switcher.css" rel="stylesheet" type="text/css"/>
 
<link rel="stylesheet" name="skins" href="css/default.css" type="text/css" media="all">
 
 
</head>
<body>
 
<div class="wrapper">
 
 
<section class="top-nav-bar">
<section class="container-fluid container">
<section class="row-fluid">
<section class="span6">
<ul class="top-nav">
<li><a href="index-2.html" class="active">Home page</a></li>
<li><a href="grid-view.html">Online Store</a></li>
<li><a href="blog.html">Blog</a></li>
<li><a href="shortcodes.html">Short Codes</a></li>
<li><a href="blog-detail.html">News</a></li>
<li><a href="contact.html">Contact Us</a></li>
</ul>
</section>
<section class="span6 e-commerce-list">
<ul>
<li>Welcome! <a href="checkout.html">Login</a> or <a href="checkout.html">Create an account</a></li>
<li class="p-category"><a href="#">$</a> <a href="#">£</a> <a href="#">€</a></li>
<li class="p-category"><a href="#">eng</a> <a href="#">de</a> <a href="#">fr</a></li>
</ul>
<div class="c-btn"> <a href="cart.html" class="cart-btn">Cart</a>
<div class="btn-group">
<button data-toggle="dropdown" class="btn btn-mini dropdown-toggle">0 item(s) - $0.00<span class="caret"></span></button>
<ul class="dropdown-menu">
<li><a href="#">Action</a></li>
<li><a href="#">Another action</a></li>
<li><a href="#">Something else here</a></li>
</ul>
</div>
</div>
</section>
</section>
</section>
</section>
 
<header id="main-header">
<section class="container-fluid container">
<section class="row-fluid">
<section class="span4">
<h1 id="logo"> <a href="index-2.html"><img src="images/logo.png"/></a> </h1>
</section>
<section class="span8">
<ul class="top-nav2">
<li><a href="checkout.html">My Account</a></li>
<li><a href="cart.html">My Cart</a></li>
<li><a href="checkout.html">Checkout</a></li>
<li><a href="order-recieved.html">Track Your Order</a></li>
</ul>
<div class="search-bar">
<input name="" type="text" value="search entire store here..."/>
<input name="" type="button" value="Serach"/>
</div>
</section>
</section>
</section>
 
<nav id="nav">
<div class="navbar navbar-inverse">
<div class="navbar-inner">
<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
<div class="nav-collapse collapse">
<ul class="nav">
<li> <a href="grid-view.html">Books</a> </li>
<li> <a href="grid-view.html">NOOK Books</a></li>
<li><a href="grid-view.html">Textbooks</a></li>
<li><a href="grid-view.html">News stand</a></li>
<li><a href="grid-view.html">Teens</a></li>
<li><a href="grid-view.html">Toys & Games</a></li>
<li class="dropdown"> <a class="dropdown-toggle" href="grid-view.html" data-toggle="dropdown"><i class="icon-heart"></i> Features<b class="caret"></b> </a>
<ul class="dropdown-menu">
<li><a href="about-us.html">About Us</a></li>
<li><a href="blog.html">Blog</a></li>
<li><a href="blog-detail.html">Blog Detail</a></li>
<li><a href="grid-view.html">Product Grid View</a></li>
<li><a href="list-view.html">Product List View</a></li>
<li><a href="grid-view-without-side-bar.html">Product Grid View Without Side Bar</a></li>
<li><a href="shortcodes.html">Short Codes</a></li>
<li><a href="blog-detail.html">News</a></li>
<li><a href="contact.html">Contact Us</a></li>
</ul>
</li>
<li class="dropdown"> <a class="dropdown-toggle" href="grid-view.html" data-toggle="dropdown">Movies & TV <b class="caret"></b> </a>
<ul class="dropdown-menu">
<li><a href="#">Submenu Detail Column 1</a></li>
<li><a href="#">Submenu Detail Column 2</a></li>
<li><a href="#">Submenu Detail Column 3</a></li>
</ul>
</li>
<li> <a href="grid-view.html">Music</a></li>
<li> <a href="grid-view.html">Gift Cards</a> </li>
<li><a href="grid-view.html">Deals & Offers</a></li>
</ul>
</div>
 
</div>
 
</div>
 
</nav>
 
</header>
 
 
<section id="content-holder" class="container-fluid container">
<section class="row-fluid">
<div class="heading-bar">
<h2>Book Detail</h2>
<span class="h-line"></span>
</div>
 
<section class="span9 first">
 
<div class="blog-sec-slider">
<div class="slider5">
<div class="slide"><a href="#"><img src="images/image22.jpg" alt=""/></a></div>
<div class="slide"><a href="#"><img src="images/image36.jpg" alt=""/></a></div>
<div class="slide"><a href="#"><img src="images/image22.jpg" alt=""/></a></div>
</div>
</div>
 
 
<section class="b-detail-holder">
<article class="title-holder">
<div class="span6">
<h4><strong>The Kite Runner</strong> by Khalid Hosseini</h4>
</div>
<div class="span6 book-d-nav">
<ul>
<li><a href="#">2 Reviews</a></li>
<li><i class="icon-envelope"></i><a href="#"> Email to a Friend</a></li>
</ul>
</div>
</article>
<div class="book-i-caption">
 
<div class="span6 b-img-holder">
<span class='zoom' id='ex1'> <img src='images/image26.jpg' height="219" width="300" id='jack' alt=''/></span>
</div>
 
 
<div class="span6">
<strong class="title">Quick Overview</strong>
<p>Vestibulum a velit at erat adipiscing volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget neque velit, suscipit volutpat ligula.</p>
<p>Quisque diam arcu, dignissim nec molestie sed, pellentesque a augue. Nunc sed felis libero, vitae imperdiet risus in feugiat lectus vitae elit euismod rhoncus. Suspendisse potenti. </p>
<p>Availability: <a href="#">In stock</a></p>
<div class="comm-nav">
<strong class="title2">Quantity</strong>
<ul>
<li><input name="" type="text"/></li>
<li class="b-price">$68.00</li>
<li><a href="cart.html" class="more-btn">+ Add to Cart</a></li>
</ul>
<a href="#">Add to Wishlist</a>
</div>
</div>
 
</div>
 
<div class="tabbable">
<ul class="nav nav-tabs">
<li class="active"><a href="#pane1" data-toggle="tab">Book Summary</a></li>
<li><a href="#pane2" data-toggle="tab">Additional Information</a></li>
</ul>
<div class="tab-content">
<div id="pane1" class="tab-pane active">
<p>Sed molestie semper ligula vitae pellentesque duis laoreet erat a pretium pulvinar, justo nisi fermentum risus, sed condimentum nisl elit vel risus. Vivamus felis dolor, consectetur vel condimentum sit amet, iaculis in orci. </p>
<p>Phasellus sed vehicula justo nunc quis erat vel ante ornare pulvinar cras tristique facilisis tincidunt quisque felis erat iaculis at fringilla vitae rutrum id magna. Nam pharetra scelerisque justo at vehicula aliquam erat volutpat.
Quisque vulputate justo eu mattis interdum magna erat porta risus tincidunt </p>
</div>
<div id="pane2" class="tab-pane">
<h4>Pane 2 Content</h4>
<p> and so on ...</p>
</div>
</div> 
</div> 
 
 
<section class="related-book">
<div class="heading-bar">
<h2>Related Books</h2>
<span class="h-line"></span>
</div>
<div class="slider6">
<div class="slide">
<a href="book-detail.html"><img src="images/image05.jpg" alt="" class="pro-img"/></a>
<span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span>
<span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
<div class="cart-price">
<a class="cart-btn2" href="cart.html">Add to Cart</a>
<span class="price">$129.90</span>
</div>
</div>
<div class="slide">
<a href="book-detail.html"><img src="images/image06.jpg" alt="" class="pro-img"/></a>
<span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span>
<span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
<div class="cart-price">
<a class="cart-btn2" href="cart.html">Add to Cart</a>
<span class="price">$129.90</span>
</div>
</div>
<div class="slide">
<a href="book-detail.html"><img src="images/image07.jpg" alt="" class="pro-img"/></a>
<span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span>
<span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
<div class="cart-price">
<a class="cart-btn2" href="cart.html">Add to Cart</a>
<span class="price">$129.90</span>
</div>
</div>
<div class="slide">
<a href="book-detail.html"><img src="images/image08.jpg" alt="" class="pro-img"/></a>
<span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span>
<span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
<div class="cart-price">
<a class="cart-btn2" href="cart.html">Add to Cart</a>
<span class="price">$129.90</span>
</div>
</div>
</div>
</section>
 
 
<section class="reviews-section">
<figure class="left-sec">
<div class="r-title-bar">
<strong>Customer Reviews</strong>
</div>
<ul class="review-list">
<li>
<span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
<em class="">The Kite Runner</em>
<p>“ Suspendisse tortor lacus, suscipit eget pharetra sed, ornare sed elit. Curabitur mollis, justo sit amet fermentum ” Review by Bookshoppe’</p>
</li>
<li>
<span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
<em class="">The Kite Runner</em>
<p>“ Suspendisse tortor lacus, suscipit eget pharetra sed, ornare sed elit. Curabitur mollis, justo sit amet fermentum ” Review by Bookshoppe’</p>
</li>
</ul>
<a href="#" class="grey-btn">Write Your Own Review</a>
</figure>
<figure class="right-sec">
<div class="r-title-bar">
<strong>Write Your Own Review</strong>
</div>
<ul class="review-f-list">
<li>
<label>Your name *</label>
<input name="" type="text"/>
</li>
<li>
<label>Summary of your review *</label>
<input name="" type="text"/>
</li>
<li>
<label>Your review *</label>
<textarea name="" cols="2" rows="20"></textarea>
</li>
<li>
<label>How do you rate this book? *</label>
<div class="rating-list">
<div class="rating-box">
<label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
Star 1
</label>
</div>
<label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
Star 2
</label>
<label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
Star 3
</label>
<label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
Star 4
</label>
<label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
Star 5
</label>
</div>
</li>
</ul>
<a href="#" class="grey-btn left-btn">Write Your Own Review</a>
</figure>
</section>
 
</section>
 
</section>
 
 
<section class="span3">
<div class="side-holder">
<article class="banner-ad"><img src="images/image20.jpg" alt="Banner Ad"/></article>
</div>
 
<div class="side-holder">
<article class="shop-by-list">
<h2>Shop by</h2>
<div class="side-inner-holder">
<strong class="title">Category</strong>
<ul class="side-list">
<li><a href="grid-view.html">Fiction (15)</a></li>
<li><a href="grid-view.html">Healthcare (15)</a></li>
<li><a href="grid-view.html">Technology (15)</a></li>
<li><a href="grid-view.html">Science(15)</a></li>
</ul>
<strong class="title">Price</strong>
<ul class="side-list">
<li><a href="#">$0.00 - $10,00.00 (13)</a></li>
<li><a href="#">$10,00.00 - $20,00.00 (2)</a></li>
</ul>
<strong class="title">Author</strong>
<ul class="side-list">
<li><a href="book-detail.html">Khalid Hoessini (9)</a></li>
<li><a href="book-detail.html">William Blake (2)</a></li>
<li><a href="book-detail.html">Anna Kathrinena (1)</a></li>
<li><a href="book-detail.html">Gray Alvin (3)</a></li>
</ul>
</div>
</article>
</div>
 
 
<div class="side-holder">
<article class="l-reviews">
<h2>Latest Reviews</h2>
<div class="side-inner-holder">
<article class="r-post">
<div class="r-img-title">
<img src="images/image21.jpg"/>
<div class="r-det-holder">
<strong class="r-author"><a href="book-detail.html">The Kite Runner</a></strong>
<span class="r-by">by Khalid Hoessini</span>
<span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
</div>
</div>
<span class="r-type">Vivamus bibendum massa</span>
<p>“ Suspendisse tortor lacus, suscipit eget pharetra sed, ornare sed elit. Curabitur mollis, justo sit amet fermentum ” </p>
<span class="r-author">Review by BookShoppe’</span>
</article>
<article class="r-post">
<div class="r-img-title">
<img src="images/image21.jpg"/>
<div class="r-det-holder">
<strong class="r-author"><a href="book-detail.html">The Kite Runner</a></strong>
<span class="r-by">by Khalid Hoessini</span>
<span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
</div>
</div>
<span class="r-type">Vivamus bibendum massa</span>
<p>“ Suspendisse tortor lacus, suscipit eget pharetra sed, ornare sed elit. Curabitur mollis, justo sit amet fermentum ” </p>
<span class="r-author">Review by BookShoppe’</span>
</article>
</div>
</article>
</div>
 
 
<div class="side-holder">
<article class="price-range">
<h2>Price Range</h2>
<div class="side-inner-holder">
<p>Select the price range for better search</p>
<div id="slider-range"></div>
<p> <input type="text" id="amount" class="r-input"> </p>
</div>
</article>
</div>
 
 
<div class="side-holder">
<article class="price-range">
<h2>Community Poll</h2>
<div class="side-inner-holder">
<p>Who is your favourite American author?</p>
<label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
Jane Austin
</label>
<label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
William Blake
</label>
<label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
Keith Urban
</label>
<label class="radio">
<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
Anna Smith
</label>
<a href="#" class="vote-btn">Vote</a>
</div>
</article>
</div>
 
</section>
 
</section>
</section>
 
 
<section class="container-fluid footer-top1">
<section class="container">
<section class="row-fluid">
<figure class="span3">
<h4>Newsletter</h4>
<p>Subscribe to be the first to know about Best Deals and Exclusive Offers!</p>
<input name="" type="text" class="field-bg" value="Enter Your Email"/>
<input name="" type="submit" value="Subscribe" class="sub-btn"/>
</figure>
<figure class="span3">
<h4>Twitter</h4>
<ul class="tweets-list">
<li>Bookshoppe’- WooCommerce theme by crunchpress http<a href="#">://z.8o/XcexW23Q #envato</a></li>
<li>Bookshoppe’- WooCommerce theme by crunchpress http<a href="#">://z.8o/XcexW23Q #envato</a></li>
</ul>
</figure>
<figure class="span3">
<h4>Location</h4>
<p>5/23, Loft Towers, Business Center, 6th Floor, Media City, Dubai.</p>
<span>
<ul class="phon-list">
<li>(971) 438-555-314</li>
<li>(971) 367-252-333</li>
</ul>
</span> <span class="mail-list"> <a href="#">info@companyname</a><br/>
<a href="#"><span class="__cf_email__" data-cfemail="88e2e7eafbc8ebe7e5f8e9e6f1e6e9e5eda6ebe7e5">[email&#160;protected]</span><script cf-hash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script></a> </span> </figure>
<figure class="span3">
<h4>Opening Time</h4>
<p>Monday-Friday ______8.00 to 18.00</p>
<p>Saturday ____________ 9.00 to 18.00</p>
<p>Sunday _____________10.00 to 16.00</p>
<p>Every 30 day of month Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</figure>
</section>
</section>
</section>
 
 
<section class="container-fluid footer-top2">
<section class="social-ico-bar">
<section class="container">
<section class="row-fluid">
<div id="socialicons" class="hidden-phone"> <a id="social_linkedin" class="social_active" href="#" title="Visit Google Plus page"><span></span></a> <a id="social_facebook" class="social_active" href="#" title="Visit Facebook page"><span></span></a> <a id="social_twitter" class="social_active" href="#" title="Visit Twitter page"><span></span></a> <a id="social_youtube" class="social_active" href="#" title="Visit Youtube"><span></span></a> <a id="social_vimeo" class="social_active" href="#" title="Visit Vimeo"><span></span></a> <a id="social_trumblr" class="social_active" href="#" title="Visit Vimeo"><span></span></a> <a id="social_google_plus" class="social_active" href="#" title="Visit Vimeo"><span></span></a> <a id="social_dribbble" class="social_active" href="#" title="Visit Vimeo"><span></span></a> <a id="social_pinterest" class="social_active" href="#" title="Visit Vimeo"><span></span></a> </div>
<ul class="footer2-link">
<li><a href="about-us.html">About Us</a></li>
<li><a href="contact.html">Customer Service</a></li>
<li><a href="order-recieved.html">Orders Tracking</a></li>
</ul>
</section>
</section>
</section>
<section class="container">
<section class="row-fluid">
<figure class="span4">
<h4>BestSellers</h4>
<ul class="f2-img-list">
<li>
<div class="left"><a href="book-detail.html"><img src="images/image19.jpg"/></a></div>
<div class="right"> <strong class="title"><a href="book-detail.html">fields</a></strong> <span class="by-author">by Arnold Grey</span> <span class="f-price">$127.55</span> </div>
</li>
<li>
<div class="left"><a href="book-detail.html"><img src="images/image31.jpg"/></a></div>
<div class="right"> <strong class="title"><a href="book-detail.html">Garfield</a></strong> <span class="by-author">by Arnold Grey</span> <span class="f-price">$127.55</span> </div>
</li>
<li>
<div class="left"><a href="book-detail.html"><img src="images/image32.jpg"/></a></div>
<div class="right"> <strong class="title"><a href="book-detail.html">Penselviniya</a></strong> <span class="by-author">by Arnold Grey</span> <span class="f-price">$127.55</span> </div>
</li>
<li>
<div class="left"><a href="book-detail.html"><img src="images/image33.jpg"/></a></div>
<div class="right"> <strong class="title"><a href="book-detail.html">Exemption</a></strong> <span class="by-author">by Arnold Grey</span> <span class="f-price">$127.55</span> </div>
</li>
<li>
<div class="left"><a href="book-detail.html"><img src="images/image34.jpg"/></a></div>
<div class="right"> <strong class="title"><a href="book-detail.html">Penfield</a></strong> <span class="by-author">by Arnold Grey</span> <span class="f-price">$127.55</span> </div>
</li>
<li>
<div class="left"><a href="book-detail.html"><img src="images/image32.jpg"/></a></div>
<div class="right"> <strong class="title"><a href="book-detail.html">Doors</a></strong> <span class="by-author">by Arnold Grey</span> <span class="f-price">$127.55</span> </div>
</li>
</ul>
</figure>
<figure class="span4">
<h4>Top Rated Books</h4>
<ul class="f2-img-list">
<li>
<div class="left"><a href="book-detail.html"><img src="images/image35.jpg" alt=""/></a></div>
<div class="right"> <strong class="title"><a href="book-detail.html">A little rain</a></strong> <span class="by-author">by Arnold Grey</span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span> </div>
</li>
<li>
<div class="left"><a href="book-detail.html"><img src="images/image33.jpg" alt=""/></a></div>
<div class="right"> <strong class="title"><a href="book-detail.html">Son of Arabia</a></strong> <span class="by-author">by Arnold Grey</span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span> </div>
</li>
<li>
<div class="left"><a href="book-detail.html"><img src="images/image32.jpg" alt=""/></a></div>
<div class="right"> <strong class="title"><a href="book-detail.html">Serpents</a></strong> <span class="by-author">by Arnold Grey</span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span> </div>
</li>
<li>
<div class="left"><a href="book-detail.html"><img src="images/image34.jpg" alt=""/></a></div>
<div class="right"> <strong class="title"><a href="book-detail.html">Guns</a></strong> <span class="by-author">by Arnold Grey</span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span> </div>
</li>
<li>
<div class="left"><a href="book-detail.html"><img src="images/image19.jpg" alt=""/></a></div>
<div class="right"> <strong class="title"><a href="book-detail.html">Garfield</a></strong> <span class="by-author">by Arnold Grey</span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span> </div>
</li>
<li>
<div class="left"><a href="book-detail.html"><img src="images/image35.jpg" alt=""/></a></div>
<div class="right"> <strong class="title"><a href="book-detail.html">Wolfman</a></strong> <span class="by-author">by Arnold Grey</span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span> </div>
</li>
</ul>
</figure>
<figure class="span4">
<h4>From the blog</h4>
<ul class="f2-pots-list">
<li> <span class="post-date2">28 APR</span> <a href="blog-detail.html">Corso completo di grafica web completo di grafi dare...</a> <span class="comments-num">6 comments</span> </li>
<li> <span class="post-date2">28 APR</span> <a href="blog-detail.html">Corso completo di grafica web completo di grafi dare...</a> <span class="comments-num">6 comments</span> </li>
<li> <span class="post-date2">28 APR</span> <a href="blog-detail.html">Corso completo di grafica web completo di grafi dare...</a> <span class="comments-num">6 comments</span> </li>
</ul>
</figure>
</section>
</section>
</section>
 
 
<footer id="main-footer">
<section class="social-ico-bar">
<section class="container">
<section class="row-fluid">
<article class="span6">
<p>© 2013 BookShoppe’ - Premium WooCommerce Theme. </p>
</article>
<article class="span6 copy-right">
<p>Designed by <a href="http://www.crunchpress.com/">Crunchpress.com</a></p>
</article>
</section>
</section>
</section>
</footer>
 
</div>
 
 
<script type="text/javascript" src="js/lib.js"></script> 
<script type="text/javascript" src="js/modernizr.js"></script> 
<script type="text/javascript" src="js/easing.js"></script> 
<script type="text/javascript" src="js/bs.js"></script> 
<script type="text/javascript" src="js/bxslider.js"></script> 
<script type="text/javascript" src="js/input-clear.js"></script> 
<script src="js/range-slider.js"></script> 
<script src="js/jquery.zoom.js"></script> 
<script type="text/javascript" src="js/bookblock.js"></script> 
<script type="text/javascript" src="js/custom.js"></script> 
<script type="text/javascript" src="js/social.js"></script> 
 
<noscript>
<style>#socialicons>a span{top:0px;left:-100%;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}#socialicons>ahover div{left:0px;}</style>
</noscript>
<script type="text/javascript">
  /* <![CDATA[ */
  $(document).ready(function() {
  $('.social_active').hoverdir( {} );
  $('#ex1').zoom();		 
})
/* ]]> */
</script>
  <div class="switcher"></div>  
 
<script type="text/javascript" src="js/cookie.js"></script>
<script type="text/javascript" src="js/colorswitcher.js"></script>
 
</body>

<!-- Tieu Long Lanh Kute -->
</html>