
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

    <section id="content-holder" class="container-fluid container">

        <section class="row features-books">
            <section class="span12 m-bottom">
                <div class="heading-bar">
                    <h2>Sách bán chạy</h2>
                    <span class="h-line"></span>
                </div>
                <div class="slider1">    
                    <div class="slide">
                        <a href="@Url.Action("ProductDetail","Detail")"><img src="images/image05.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">999.000 đ</span> <span class="price2" >999.000 đ</span> <span class="sale-icon"></span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image06.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image07.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image08.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image09.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image10.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image06.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image07.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image08.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image09.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image10.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image06.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image05.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                </div>
            </section>
        </section>
        <section class="row row-fluid ">
            <section class="span9 blog-section">
                <div class="heading-bar">
                    <h2>Tạp chí bán chạy nhất</h2>
                    <span class="h-line"></span>
                </div>
                <div class="slider3">
                    <div class="slide">
                        <div class="post-img"><a href="blog-detail.html"><img src="images/image18.jpg" alt="" /></a> <span class="post-date"><span>02</span> May</span> </div>
                        <div class="post-det">
                            <h3><a href="blog-detail.html">Our latest arrival is the Spring Summer 2013 Book Fair</a></h3>
                            <span class="comments-num">6 comments</span>
                            <p>Gluten-free quinoa selfies carles, kogi gentrify retro marfa viral. Aesthetic before they sold out put a bird on it sriracha typewriter. Skateboard viral irony tonx ... </p>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="post-img"><a href="blog-detail.html"><img src="images/image29.jpg" alt="" /></a> <span class="post-date"><span>24</span> Oct</span> </div>
                        <div class="post-det">
                            <h3><a href="blog-detail.html">Our latest arrival is the Spring Summer 2012 Book Fair</a></h3>
                            <span class="comments-num">48 comments</span>
                            <p>Gluten-free quinoa selfies carles, kogi gentrify retro marfa viral. Aesthetic before they sold out put a bird on it sriracha typewriter. Skateboard viral irony tonx ... </p>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="post-img"><a href="blog-detail.html"><img src="images/image30.jpg" alt="" /></a> <span class="post-date"><span>10</span> Aug</span> </div>
                        <div class="post-det">
                            <h3><a href="blog-detail.html">Our latest arrival is the Spring Summer 2011 Book Fair</a></h3>
                            <span class="comments-num">24 comments</span>
                            <p>Gluten-free quinoa selfies carles, kogi gentrify retro marfa viral. Aesthetic before they sold out put a bird on it sriracha typewriter. Skateboard viral irony tonx ... </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="span3 best-sellers">
                <div class="heading-bar">
                    <h2>Sách bán chạy trong tuần</h2>
                    <span class="h-line"></span>
                </div>
                <div class="slider2">
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image15.jpg" alt="" /></a>
                        <div class="slide2-caption">
                            <div class="left"> <span class="title"><a href="book-detail.html">Thousand Splendid Miles</a></span> <span class="author-name">by Khalid Housseini</span> </div>
                            <div class="right"> <span class="price">$139.50</span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span> </div>
                        </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image15.jpg" alt="" /></a>
                        <div class="slide2-caption">
                            <div class="left"> <span class="title"><a href="book-detail.html">Thousand Splendid Miles</a></span> <span class="author-name">by Khalid Housseini</span> </div>
                            <div class="right"> <span class="price">$139.50</span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span> </div>
                        </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image15.jpg" alt="" /></a>
                        <div class="slide2-caption">
                            <div class="left"> <span class="title"><a href="book-detail.html">Thousand Splendid Miles</a></span> <span class="author-name">by Mr. Khalid </span> </div>
                            <div class="right"> <span class="price">$139.50</span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span> </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="row features-books">
            <section class="span12 m-bottom">
                <div class="heading-bar">
                    <h2>Sách nước ngoài</h2>
                    <span class="h-line"></span>
                </div>
                <div class="slider1">
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image05.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> <span class="sale-icon"></span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image06.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image07.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image08.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image09.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image10.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image06.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image07.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image08.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image09.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image10.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image06.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image05.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                </div>
            </section>
        </section>
        <section class="tg-sectionspace tg-haslayout ">
            <div class="container">
                <div class="row">
                    <div class="tg-featureditm">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-sm hidden-xs">
                            <figure><img src="~/style2//images/img-02.png" alt="image description"></figure>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <div class="tg-featureditmcontent">
                                <div class="tg-themetagbox"><span class="tg-themetag">featured</span></div>
                                <div class="tg-booktitle">
                                    <h3><a href="javascript:void(0);">Things To Know About Green Flat Design</a></h3>
                                </div>
                                <span class="tg-bookwriter">By: <a href="javascript:void(0);">Farrah Whisenhunt</a></span>
                                <span class="tg-stars"><span></span></span>
                                <div class="tg-priceandbtn">
                                    <span class="tg-bookprice">
                                        <ins>$23.18</ins>
                                        <del>$30.20</del>
                                    </span>
                                    <a class="tg-btn tg-btnstyletwo tg-active" href="javascript:void(0);">
                                        <i class="fa fa-shopping-basket"></i>
                                        <em>Add To Basket</em>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="row features-books">
            <section class="span12 m-bottom">
                <div class="heading-bar">
                    <h2>Sách kinh tế mới</h2>
                    <span class="h-line"></span>
                </div>
                <div class="slider1">
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image05.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> <span class="sale-icon"></span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image06.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image07.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image08.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image09.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image10.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image06.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image07.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image08.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image09.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image10.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image06.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image05.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                </div>
            </section>
        </section>


        <section class="row row-fluid m-bottom">
            <section class="span9">
                <div class="featured-author">

                    <div class="left">
                        <span class="author-img-holder"><a href="about-us.html"><img src="images/image16.jpg" alt="" /></a></span>
                        <div class="author-det-box">
                            <div class="author-det">
                                <span class="title"><strong>Tác giả nổi bật</strong></span> <span class="title2">Nguyễn Nhật Ánh</span>
                                <ul class="books-list">
                                    <li><a href="book-detail.html"><img src="images/image11.jpg" alt="" /></a></li>
                                    <li><a href="book-detail.html"><img src="images/image12.jpg" alt="" /></a></li>
                                    <li><a href="book-detail.html"><img src="images/image13.jpg" alt="" /></a></li>
                                    <li><a href="book-detail.html"><img src="images/image14.jpg" alt="" /></a></li>
                                    <li><a href="book-detail.html"><img src="images/image12.jpg" alt="" /></a></li>
                                    <li><a href="book-detail.html"><img src="images/image13.jpg" alt="" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="current-book">
                            <strong class="title"><a href="book-detail.html">Tiểu sử</a></strong>
                            <p>Tác giả nhật ánh sinh năm 1970 là một nhà văn lớn một đại thi hào của dân tộc, ông có hàng ngìn tác phẩm hay như khi con tu hú .. (xem thêm)</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="span3 testimonials">
                <div class="heading-bar">
                    <h2>Tác giả</h2>
                    <span class="h-line"></span>
                </div>
                <div class="slider4">
                    <div class="slide">
                        <div class="author-name-holder"> <img src="images/image19.png" /> </div>
                        <strong class="title">Robert Smith <span>Manager</span></strong>
                        <div class="slide">
                            <p>Lorem ipsum dolor slo onsec nelioro tueraliquet Morbi nec In Curabitur lorem in design Morbi nec In Curabituritus gojus, </p>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="author-name-holder"> <img src="images/image19.png" /> </div>
                        <strong class="title">Mr. Khalid Hosseini <span>Manager</span></strong>
                        <div class="slide">
                            <p>Gluten-free quinoa selfies carles, kogi gentrify retro marfa viral. Aesthetic before they sold out put a bird on it sriracha typewriter. Skateboard viral irony tonx ... </p>
                        </div>
                    </div>
                </div>
            </section>

        </section>
        <section class="row features-books">
            <section class="span12 m-bottom">
                <div class="heading-bar">
                    <h2>Sách kinh tế mới</h2>
                    <span class="h-line"></span>
                </div>
                <div class="slider1">
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image05.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> <span class="sale-icon"></span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image06.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image07.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image08.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image09.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image10.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image06.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image07.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image08.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image09.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image10.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image06.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                    <div class="slide">
                        <a href="book-detail.html"><img src="images/image05.jpg" alt="" class="pro-img" /></a> <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span> <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star" /></span>
                        <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$129.90</span> </div>
                    </div>
                </div>
            </section>
        </section>

    </section>





