
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}
<div class="wrapper-breadcrums">
    <div class="container">
        <div class="row">
            <div class="col-sm-24">
                <div class="breadcrumbs">
                    <ul>
                        <li class="home">
                            <a href="index.html" title="Go to Home Page"><span>Trang chủ</span></a> <span class="separator">/ </span>
                        </li>
                        <li class="cms_page">
                            <strong>Đăng kí</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.wrapper-breadcrums -->


<div class="em-wrapper-main">
    <div class="container container-main">
        <div class="em-inner-main">
            <div class="em-wrapper-area02"></div>
            <div class="em-main-container em-col1-layout">
                <div class="row">
                    <div class="em-col-main col-sm-24">
                        <div class="account-create">
                            <div class="page-title">
                                <h2>Tạo Tài Khoản</h2>
                            </div>
                            <form method="post" id="form-validate">
                                <div class="fieldset">
                                    <input type="hidden" name="success_url" value="" />
                                    <input type="hidden" name="error_url" value="" />
                                    <ul class="form-list">
                                        <li class="fields">
                                            <div class="customer-name-middlename">
                                                <div class="field name-firstname">
                                                    <label for="firstname" class="required"><em>*</em>Họ và Tên của bạn</label>
                                                    <div class="input-box">
                                                        <input type="text" id="firstname" name="firstname" value="" title="First Name" maxlength="255" class="input-text required-entry" />
                                                    </div>
                                                </div>

                                                <div class="field name-lastname">
                                                    <label for="lastname" class="required"><em>*</em>Số điện thoại</label>
                                                    <div class="input-box">
                                                        <input type="text" id="lastname" name="lastname" value="" title="Last Name" maxlength="255" class="input-text required-entry" />
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="fields">
                                            <div class="customer-name-middlename">
                                                <div class="field name-firstname">
                                                    <label for="firstname" class="required"><em></em>Địa chỉ </label>
                                                    <div class="input-box">
                                                        <input type="text" id="firstname" name="firstname" value="" title="First Name" maxlength="255" class="input-text required-entry" />
                                                    </div>
                                                </div>

                                                <div class="field name-lastname">
                                                    <label for="lastname" class="required"><em></em>Mã số thuế</label>
                                                    <div class="input-box">
                                                        <input type="text" id="lastname" name="lastname" value="" title="Last Name" maxlength="255" class="input-text required-entry" />
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <label for="email_address" class="required"><em>*</em>Địa chỉ email</label>
                                            <div class="input-box">
                                                <input type="text" name="email" id="email_address" value="" title="Email Address" class="input-text validate-email required-entry" />
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <div class="fieldset">
                                    <h2 class="legend">Thông tin đăng kí</h2>
                                    <ul class="form-list">
                                        <li class="fields">
                                            <div class="field">
                                                <label for="password" class="required"><em>*</em>Mật Khẩu</label>
                                                <div class="input-box">
                                                    <input type="password" name="password" id="password" title="Password" class="input-text required-entry validate-password" />
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label for="confirmation" class="required"><em>*</em>Nhập lại mật khẩu</label>
                                                <div class="input-box">
                                                    <input type="password" name="confirmation" title="Confirm Password" id="confirmation" class="input-text required-entry validate-cpassword" />
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div id="window-overlay" class="window-overlay" style="display:none;"></div>
                                    <div id="remember-me-popup" class="remember-me-popup" style="display:none;">
                                        <div class="remember-me-popup-head">
                                            <h3>What's this?</h3> <a href="#" class="remember-me-popup-close" title="Close">Close</a>
                                        </div>
                                        <div class="remember-me-popup-body">
                                            <p>Checking &quot;Remember Me&quot; will let you access your shopping cart on this computer when you are logged out</p>
                                            <div class="remember-me-popup-close-button a-right">
                                                <a href="#" class="remember-me-popup-close button" title="Close"><span>Close</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="buttons-set">
                                        <p class="back-link">
                                            <a href="login.html" class="back-link"><small>&laquo; </small>Trang chủ</a>
                                        </p>
                                        <button type="submit" title="Submit" class="button">
                                            <span><span>Đăng Kí</span></span>
                                        </button>
                                        <p class="required">* Bắt buộc</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.em-wrapper-main -->
